<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {# <meta http-equiv="refresh" content="5"> #}
    <title>{{ title }}</title>
    <link rel="icon" type="image/svg+xml" href="/static/favicon.svg">
    <link rel="stylesheet" href="/static/output.css">
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
    <script>
        htmx.config.defaultSwapStyle = "innerHTML";
        htmx.config.defaultSwapDelay = 0;
        htmx.config.defaultSettleDelay = 20;
        htmx.config.scrollBehavior = "auto";
        htmx.config.historyCacheSize = 10;
        htmx.config.globalViewTransitions = true;
    </script>
</head>
<body class="m-4">
    <h1 class="text-2xl font-bold mb-4">{{ title }}</h1>
    {% block header %}{% include "batches/batch_nav.html" %}{% endblock %}
    {% block content %}
    <div id="content-container">
        {{ content|safe }}
    </div>
    {% endblock %}
    {% block footer %}{{ footer }}{% endblock %}
</body>
</html>