<div class="tabs w-full mb-4" x-data="{selectedTab: '{{ tab }}'}">
    <nav role="tablist" aria-orientation="horizontal" class="w-full">
        <button role="tab" aria-controls="breed" :aria-selected="selectedTab == 'breed'" tabindex="0"
            @click="selectedTab = 'breed'"
            hx-get="breed?batch_name={{ request.query_params['batch_name'] }}&view=breed-content" hx-target="#content-container"
            hx-swap="innerHTML" hx-indicator="#loading-indicator" hx-sync="closest [role=tablist]:abort">入雛</button>
        <button role="tab" aria-controls="feed" :aria-selected="selectedTab == 'feed'" tabindex="-1"
            @click="selectedTab = 'feed'"
            hx-get="feed?batch_name={{ request.query_params['batch_name'] }}&view=feed-content" hx-target="#content-container"
            hx-swap="innerHTML" hx-indicator="#loading-indicator" hx-sync="closest [role=tablist]:abort">飼料</button>
        <button role="tab" aria-controls="sales" :aria-selected="selectedTab == 'sales'" tabindex="-1"
            @click="selectedTab = 'sales'"
            hx-get="sales?batch_name={{ request.query_params['batch_name'] }}&view=sales-content" hx-target="#content-container"
            hx-swap="innerHTML" hx-indicator="#loading-indicator" hx-sync="closest [role=tablist]:abort">銷售</button>
        <button role="tab" aria-controls="closure" :aria-selected="selectedTab == 'closure'" tabindex="-1"
            @click="selectedTab = 'closure'"
            hx-get="closure?batch_name={{ request.query_params['batch_name'] }}&view=closure-content" hx-target="#content-container"
            hx-swap="innerHTML" hx-indicator="#loading-indicator" hx-sync="closest [role=tablist]:abort">結場</button>
        <button role="tab" aria-controls="article" :aria-selected="selectedTab == 'article'" tabindex="-1"
            @click="selectedTab = 'article'"
            hx-get="article?batch_name={{ request.query_params['batch_name'] }}&view=article-content" hx-target="#content-container"
            hx-swap="innerHTML" hx-indicator="#loading-indicator" hx-sync="closest [role=tablist]:abort">記事</button>
    </nav>
</div>