
<h4 class="font-bold text-black mb-2 pb-1">飼料資料</h4>
{% for feed_group in feed_data %}
<table class="table w-full ml-4">
    <tbody>
        {% for feed in feed_group.feed_details %}
        <tr class="w-full border-b border-black">
            <td class="px-8 py-2 block flex items-center justify-center border-b border-gray-200"><span class="font-bold">{{ feed.feed_date }}</span></td>
            <td class="px-8 py-2 block flex items-center justify-between border-b border-gray-200"><span class="font-bold">廠商</span><span>{{ feed.feed_manufacturer }}</span></td>
            <td class="px-8 py-2 block flex items-center justify-between border-b border-gray-200"><span class="font-bold">品項</span><span>{{ feed.feed_item }}</span></td>
            <td class="px-8 py-2 block flex items-center justify-between border-b border-gray-200"><span class="font-bold">飼料週</span><span>{{ feed.feed_week }}</span></td>
            <td class="px-8 py-2 block flex items-center justify-between border-b border-gray-200"><span class="font-bold">添加劑</span><span>{{ feed.feed_additive or "" }}</span></td>
            <td class="px-8 py-2 block flex items-center justify-between border-b border-gray-200"><span class="font-bold">備註</span><span>{{ feed.feed_remark or "" }}</span></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}