<!-- 銷售表格標題 -->
<thead class="bg-gray-50 border-b border-gray-200">
    <tr class="[&>th]:px-6 [&>th]:py-3 [&>th]:text-left [&>th]:text-xs [&>th]:font-medium [&>th]:text-gray-500 [&>th]:uppercase [&>th]:tracking-wider">
        <th>日期</th>
        <th>批次</th>
        <th>客戶</th>
        <th class="text-center">公數</th>
        <th class="text-center">母數</th>
        <th class="text-right">公重</th>
        <th class="text-right">母重</th>
        <th class="text-right">公價</th>
        <th class="text-right">母價</th>
    </tr>
</thead>